doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet' href='css/main.css')
  title #{title}
header
  ul#navbar
    li
      a(href='#') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
    li
      a(href='#') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
    li
      a(href='#') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      ul
        li
          a(href='#') &Acy;&dcy;&rcy;&iecy;&scy;
        li
          a(href='#') &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
        li
          a(href='#') Email
    li
      a(href='#') &Ocy; &ncy;&acy;&scy;
.main
  
  p
    | Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Australia.
  p
    | Many species of gecko have adhesive toe pads which enable them to climb walls and even windows.
    h1 #{h1}
      p.name #{name}
  img(src='image/cecil.jpg' alt='')
  img(src='image/wer.jpg' alt='')
  img(src='' alt='')
  img(src='' alt='')
footer
  p Copyright &copy; 2019. &Scy;&acy;&jcy;&tcy; Vents Corporation 
  
script(src='js/main.js')
