extends layout
block content
  section.featured-courses.horizontal-column.courses-wrap
    .container
      .row
        .col-12
          header.heading.flex.justify-content-between.align-items-center
            h2.entry-title Featured Courses
            a.btn.mt-4.mt-sm-0(href='#') view all
          // .heading
        // .col
        .col-12.col-lg-6
          .course-content.flex.flex-wrap.justify-content-between.align-content-lg-stretch
            figure.course-thumbnail
              a(href='#')
                img(src='images/1.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                .course-ratings.flex.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
                h2.entry-title
                  a(href='#') The Complete Android Developer Course
                .entry-meta.flex.flex-wrap.align-items-center
                  .course-author
                    a(href='#') Ms. Lara Croft 
                  .course-date July 21, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  span.free-cost Free
                // .course-cost
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
        .col-12.col-lg-6
          .course-content.flex.flex-wrap.justify-content-between.align-content-lg-stretch
            figure.course-thumbnail
              a(href='#')
                img(src='images/2.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                .course-ratings.flex.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
                h2.entry-title
                  a(href='#') Learn Photoshop, Web Design &amp; Profitable
                .entry-meta.flex.flex-wrap.align-items-center
                  .course-author
                    a(href='#') Mr. John Wick
                  .course-date Aug 21, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  | $32 
                  span.price-drop $59
                // .course-cost
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
      // .row
    // .container
  // .courses-wrap
  section.about-section
    .container
      .row
        .col-12.col-lg-6.align-content-lg-stretch
          header.heading
            h2.entry-title About Ezuca
            p
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
          // .heading
          .entry-content.ezuca-stats
            .stats-wrap.flex.flex-wrap.justify-content-lg-between
              .stats-count
                | 50
                span M+
                p STUDENTS LEARNING
              // .stats-count
              .stats-count
                | 30
                span K+
                p ACTIVE COURSES
              // .stats-count
              .stats-count
                | 340
                span M+
                p INSTRUCTORS ONLINE
              // .stats-count
              .stats-count
                | 20
                span +
                p Country Reached
              // .stats-count
            // .stats-wrap
          // .ezuca-stats
        // .col
        .col-12.col-lg-6.flex.align-content-center.mt-5.mt-lg-0
          .ezuca-video.position-relative
            .video-play-btn.position-absolute
              img(src='images/video-icon.png' alt='Video Play')
            // .video-play-btn
            img(src='images/video-screenshot.png' alt='')
          // .ezuca-video
        // .col
      // .row
    // .container
  // .about-section
  section.testimonial-section
    // Swiper
    .swiper-container.testimonial-slider
      .swiper-wrapper
        .swiper-slide
          .container
            .row
              .col-12.col-lg-6.order-2.order-lg-1.flex.align-items-center.mt-5.mt-lg-0
                figure.user-avatar
                  img(src='images/user-1.jpg' alt='')
                // .user-avatar
              // .col
              .col-12.col-lg-6.order-1.order-lg-2.content-wrap.h-100
                .entry-content
                  p
                    | Together as teachers, students and universities we can help make this education available for everyone.
                // .entry-content
                .entry-footer
                  h3.testimonial-user
                    | Russell Stephens - 
                    span University in UK
                // .entry-footer
              // .col
            // .row
          // .container
        // .swiper-slide
        .swiper-slide
          .container
            .row
              .col-12.col-lg-6.order-2.order-lg-1.flex.align-items-center.mt-5.mt-lg-0
                figure.user-avatar
                  img(src='images/user-2.jpg' alt='')
                // .user-avatar
              // .col
              .col-12.col-lg-6.order-1.order-lg-2.content-wrap.h-100
                .entry-content
                  p
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                // .entry-content
                .entry-footer
                  h3.testimonial-user
                    | Robert Stephens - 
                    span University in Oxford
                // .entry-footer
              // .col
            // .row
          // .container
        // .swiper-slide
        .swiper-slide
          .container
            .row
              .col-12.col-lg-6.flex.order-2.order-lg-1.align-items-center.mt-5.mt-lg-0
                figure.user-avatar
                  img(src='images/user-3.jpg' alt='')
                // .user-avatar
              // .col
              .col-12.col-lg-6.order-1.order-lg-2.content-wrap.h-100
                .entry-content
                  p
                    | Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                // .entry-content
                .entry-footer
                  h3.testimonial-user
                    | James Stephens - 
                    span University in Cambridge
                // .entry-footer
              // .col
            // .row
          // .container
        // .swiper-slide
      // .swiper-wrapper
      .container
        .row
          .col-12.col-lg-6.mt-5.mt-lg-0
            .swiper-pagination.position-relative.flex.justify-content-center.align-items-center
          // .col
        // .row
      // .container
    // .testimonial-slider
  // .testimonial-section
  section.featured-courses.vertical-column.courses-wrap
    .container
      .row.mx-m-25
        .col-12.px-25
          header.heading.flex.flex-wrap.justify-content-between.align-items-center
            h2.entry-title Featured Courses
            nav.courses-menu.mt-3.mt-lg-0
              ul.flex.flex-wrap.justify-content-md-end.align-items-center
                li.active
                  a(href='#') All
                li
                  a(href='#') Business
                li
                  a(href='#') Design
                li
                  a(href='#') Web Development
                li
                  a(href='#') Photography
            // .courses-menu
          // .heading
        // .col
        .col-12.col-md-6.col-lg-4.px-25
          .course-content
            figure.course-thumbnail
              a(href='#')
                img(src='images/1.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                h2.entry-title
                  a(href='#') The Complete Android Developer Course
                .entry-meta.flex.align-items-center
                  .course-author
                    a(href='#') Ms. Lara Croft 
                  .course-date July 21, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  | $45 
                  span.price-drop $68
                // .course-cost
                .course-ratings.flex.justify-content-end.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
        .col-12.col-md-6.col-lg-4.px-25
          .course-content
            figure.course-thumbnail
              a(href='#')
                img(src='images/2.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                h2.entry-title
                  a(href='#') The Ultimate Drawing Course Beginner to Advanced
                .entry-meta.flex.align-items-center
                  .course-author
                    a(href='#') Michelle Golden
                  .course-date Mar 14, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  span.free-cost Free
                // .price-drop
                .course-ratings.flex.justify-content-end.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
        .col-12.col-md-6.col-lg-4.px-25
          .course-content
            figure.course-thumbnail
              a(href='#')
                img(src='images/3.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                h2.entry-title
                  a(href='#') The Complete Digital Marketing Course
                .entry-meta.flex.align-items-center
                  .course-author
                    a(href='#') Ms. Lucius
                  .course-date Dec 18, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  | $55 
                  span.price-drop $78
                // .course-cost
                .course-ratings.flex.justify-content-end.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
        .col-12.col-md-6.col-lg-4.px-25
          .course-content
            figure.course-thumbnail
              a(href='#')
                img(src='images/4.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                h2.entry-title
                  a(href='#') The Unreal Engine Developer Course
                .entry-meta.flex.align-items-center
                  .course-author
                    a(href='#') Mr. John Wick
                  .course-date Otc 17, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  span.free-cost Free
                // .course-cost
                .course-ratings.flex.justify-content-end.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
        .col-12.col-md-6.col-lg-4.px-25
          .course-content
            figure.course-thumbnail
              a(href='#')
                img(src='images/5.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                h2.entry-title
                  a(href='#') Progressive Web Apps (PWA) - The Complete Guide
                .entry-meta.flex.align-items-center
                  .course-author
                    a(href='#') Mr. Tom Redder
                  .course-date Sep 14, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  | $38 
                  span.price-drop $48
                // .course-cost
                .course-ratings.flex.justify-content-end.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
        .col-12.col-md-6.col-lg-4.px-25
          .course-content
            figure.course-thumbnail
              a(href='#')
                img(src='images/6.jpg' alt='')
            // .course-thumbnail
            .course-content-wrap
              header.entry-header
                h2.entry-title
                  a(href='#') Cryptocurrency Investment Course 2018
                .entry-meta.flex.align-items-center
                  .course-author
                    a(href='#') Russell Stephens
                  .course-date Nov 06, 2018
                // .course-date
              // .entry-header
              footer.entry-footer.flex.justify-content-between.align-items-center
                .course-cost
                  span.free-cost Free
                // .course-cost
                .course-ratings.flex.justify-content-end.align-items-center
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star-o
                  span.course-ratings-count (4 votes)
                // .course-ratings
              // .entry-footer
            // .course-content-wrap
          // .course-content
        // .col
        .col-12.px-25.flex.justify-content-center
          a.btn(href='#') view all courses
        // .col
      // .row
    // .container
  // .courses-wrap
  section.latest-news-events
    .container
      .row
        .col-12
          header.heading.flex.justify-content-between.align-items-center
            h2.entry-title Latest News &amp; Events
          // .heading
        // .col
        .col-12.col-lg-6
          .featured-event-content
            figure.event-thumbnail.position-relative.m-0
              a(href='#')
                img(src='images/event-1.jpg' alt='')
              .posted-date.position-absolute
                .day 23
                .month mar
              // .posted-date
            // .event-thumbnail
            header.entry-header.flex.flex-wrap.align-items-center
              h2.entry-title
                a(href='#') The Complete Financial Analyst Training &amp; Investing Course
              .event-location
                i.fa.fa-map-marker
                | 40 Baria Sreet 133/2 NewYork City, US
              .event-duration
                i.fa.fa-calendar
                | 10 Dec - 12 dec
            // .entry-header
          // .featured-event-content
        // .col
        .col-12.col-lg-6.mt-5.mt-lg-0
          .event-content.flex.flex-wrap.justify-content-between.align-content-stretch
            figure.event-thumbnail
              a(href='#')
                img(src='images/event-2.jpg' alt='')
            // .course-thumbnail
            .event-content-wrap
              header.entry-header
                .posted-date
                  i.fa.fa-calendar
                  |  22 Mar 2018
                // .posted-date
                h2.entry-title
                  a(href='#') Personalized online learning experience
                .entry-meta.flex.flex-wrap.align-items-center
                  .post-author
                    a(href='#') Ms. Lara Croft 
                  .post-comments 02 Comments  
                // .entry-meta
              // .entry-header
              .entry-content
                p
                  | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
              // .entry-content
            // .event-content-wrap
          // .event-content
          .event-content.flex.flex-wrap.justify-content-between.align-content-lg-stretch
            figure.event-thumbnail
              a(href='#')
                img(src='images/event-3.jpg' alt='')
            // .course-thumbnail
            .event-content-wrap
              header.entry-header
                .posted-date
                  i.fa.fa-calendar
                  |  22 Mar 2018
                // .posted-date
                h2.entry-title
                  a(href='#') Which investment project should my company choose?
                .entry-meta.flex.flex-wrap.align-items-center
                  .post-author
                    a(href='#') Ms. Lara Croft 
                  .post-comments 02 Comments  
                // .entry-meta
              // .entry-header
              .entry-content
                p
                  | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
              // .entry-content
            // .event-content-wrap
          // .event-content
        // .col
      // .row
    // .container
  // .latest-news-events
  section.home-gallery
    .gallery-wrap.flex.flex-wrap
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/a.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/b.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid2x2
        a(href='#')
          img(src='images/c.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/d.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/e.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid2x1
        a(href='#')
          img(src='images/g.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid2x1
        a(href='#')
          img(src='images/h.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/i.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid2x2
        a(href='#')
          img(src='images/j.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/k.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/l.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid2x1
        a(href='#')
          img(src='images/m.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid3x1
        a(href='#')
          img(src='images/n.jpg' alt='')
      // .gallery-grid
      .gallery-grid.gallery-grid1x1
        a(href='#')
          img(src='images/o.jpg' alt='')
      // .gallery-grid
    // .gallery-wrap
  // .home-gallery