/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-widgets {
  padding: 60px 0;
  color: #757686;
}

.foot-about p {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.6;
  color: #757686;
}

p.footer-copyright {
  color: #c0c1cd;
}

.footer-widgets h2 {
  margin-bottom: 40px;
  font-size: 20px;
  color: #383749;
}

.footer-widgets ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-widgets ul li {
  margin-bottom: 12px;
}

.footer-widgets ul li a {
  color: #757686;
  text-decoration: none;
}

.footer-widgets ul li a:hover {
  color: #34d986;
}

.footer-widgets .follow-us .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
}

.footer-widgets .follow-us .fa-facebook {
  background: #4b6cd0;
}

.footer-widgets .follow-us .fa-google-plus {
  background: #f03b3b;
}

.footer-widgets .follow-us .fa-instagram {
  background: #bb8950;
}

.footer-widgets .follow-us .fa-twitter {
  background: #49a7f3;
}

.footer-bar {
  padding: 30px 0;
  border-top: 1px solid #ebebeb;
}

.footer-bar .download-apps a {
  display: block;
  margin-right: 10px;
}

.footer-bar .download-apps a img {
  display: block;
}

.footer-bar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-bar-nav ul li {
  margin-left: 30px;
}

@media screen and (max-width: 992px) {
  .footer-bar-nav ul li {
      margin-left: 15px;
      margin-right: 15px;
  }
}

.footer-bar-nav ul li a {
  color: #757686;
  text-decoration: none;
}

.footer-bar-nav ul li a:hover {
  color: #34d986;
}

/*
# Clients Logos
--------------------------------*/
.clients-logo {
  margin-top: 100px;
  padding: 16px 0;
  background: #f7f7f7;
}

.logo-wrap {
  margin: 16px;
}
